<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="calculator.js" defer></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <div>1st number: <input type="text" v-model="num1"></div>
    <div>2nd number: <input type="text" v-model="num2"></div>
    <div>3rd number: <input type="text" v-model="num3"></div>
    <div>
    <p>The sum is: {{ sumNums() }}</p>
    <p>The product is: {{ productNums() }}</p>
</body>
</html>

